## 꼭 알아둬야 할 자료 구조: 배열 (Array)
* 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
* 파이썬에서는 리스트 타입이 배열 기능을 제공함

> 기본부터 철저하게 익히세요 [동기부여 영상](https://youtu.be/whFZCmN__mM)

### 1. 배열은 왜 필요할까?
- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장
- 장점: 
  - 빠른 접근 가능
    - 첫 데이터의 위치에서 상대적인 위치로 데이터 접근(인덱스 번호로 접근)
- 단점: 
  - 데이터 추가/삭제의 어려움
    - 미리 최대 길이를 지정해야 함
  
> 엑셀로 이해해보기

#### C 언어 예: 영어 단어 저장

#include <stdio.h>

int main(int argc, char * argv[])
{
    char country[3] = "US";
    printf ("%c%c\n", country[0], country[1]);
    printf ("%s\n", country);    
    return 0;
}

#### 파이썬 언어 예: 영어 단어 저장

In [2]:
country = 'US'
print (country)

US

In [ ]:
print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점입니다.')
print(f'평균은 {total / 5}점입니다.')

### 2. 파이썬과 배열
- 파이썬에서는 리스트로 배열 구현 가능

In [3]:
# 1차원 배열: 리스트로 구현시
data_list = [1, 2, 3, 4, 5]
data_list

[1, 2, 3, 4, 5]

In [2]:
list01=[]
list02=[1,2,3]
list03=['A','B','C']
list04=list()
list05=list('ABC')
list06=list([1,2,3])
list07=list((1,2,3))
list08=list({1,2,3})
list09=list(range(7))
list10=list(range(3,8))
list11=list(range(3,13,2))

In [10]:
# 2차원 배열: 리스트로 구현시
data_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
print (data_list[0])
print (data_list[0][0])
print (data_list[0][1])
print (data_list[0][2])
print (data_list[1][0])
print (data_list[1][1])

[1, 2, 3]
1
2
3
4
5

In [24]:
x = ['John', 'George', 'Paul', 'Ringo']

for i in range(len(x)):
    print(f'x[{i}] = {x[i]}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [25]:
x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(x):
    print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [27]:
x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(x, 1):
    print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

In [28]:
x = ['John', 'George', 'Paul', 'Ringo']

for i in x:
    print(i)

John
George
Paul
Ringo

In [5]:
#튜플

In [29]:
tuple01 = ()
tuple02 = 1,
tuple03 = (1,)
tuple04 = 1, 2, 3
tuple05 = 1, 2, 3,
tuple06 = (1, 2, 3)
tuple07 = (1, 2, 3,)
tuple08 = 'A', 'B', 'C'
tuple09 = tuple()
tuple10 = tuple('ABC')
tuple11 = tuple([1,2,3])
tuple12 = tuple({1,2,3})
tuple13 = tuple(range(7))
tuple14 = tuple(range(3,8))
tuple15 = tuple(range(3,13,2))

In [30]:
x = ('John', 'George', 'Paul', 'Ringo')

for i in range(len(x)):
    print(f'x[{i}] = {x[i]}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [31]:
x = ('John', 'George', 'Paul', 'Ringo')

for i, name in enumerate(x):
    print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

In [32]:
x = ('John', 'George', 'Paul', 'Ringo')

for i, name in enumerate(x, 1):
    print(f'{i} 번째 = {name}')

1 번째 = John
2 번째 = George
3 번째 = Paul
4 번째 = Ringo

In [33]:
x = ('John', 'George', 'Paul', 'Ringo')

for i in x:
    print(i)

John
George
Paul
Ringo

In [8]:
## 슬라이스식으로 원소에 접근하기

In [2]:
s = [11, 22, 33, 44, 55, 66, 77, 88]
s[0:6]

[11, 22, 33, 44, 55, 66]

In [3]:
s[0:7]

[11, 22, 33, 44, 55, 66, 77]

In [4]:
s[0:7:2]

[11, 33, 55, 77]

In [5]:
s[-4:-2]

[55, 66]

In [6]:
s[3:1]

[]

In [8]:
lst1 = [1,2,3,4,5]
lst2 = [1,2,3,4,5]
lst1 is lst2

False

In [10]:
lst2 = lst1
lst1 is lst2

True

In [11]:
lst1[3]=9
lst2

[1, 2, 3, 9, 5]

### 3. 프로그래밍 연습

In [20]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

<div class="alert alert-block alert-warning">
<strong><font color="blue" size="3em">연습1: 위의 dataset 리스트에서 전체 이름 안에 M 은 몇 번 나왔는지 빈도수 출력하기</font></div>

In [21]:
m_count = 0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'M':
            m_count += 1
print (m_count)

38

In [12]:
from typing import Any, Sequence

def max_of(a: Sequence) -> Any:
    """시퀀스형 a 요소의 최댓값을 반환"""
    maximum = a[0]
    for i in range(1, len(a)):
         if a[i] > maximum: 
            maximum = a[i]
    return maximum

In [13]:
print('배열의 최댓값을 구합니다.')
num = int(input('원소 수를 입력하세요 : '))
x = [None] * num    # 원소 수가 num인 리스트를 생성

for i in range(num):
    x[i] = int(input(f'x[{i}]를 입력하세요.: '))

print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
최댓값은 3입니다.

In [14]:
print('배열의 최댓값을 구합니다.')
print('주의: "End"를 입력하면 종료합니다.')

number = 0
x = []                  # 빈 리스트

while True:
    s = input(f'x[{number}]를 입력하세요.: ')
    if s == 'End':
        break
    x.append(int(s))    # 배열의 끝에 추가
    number += 1

print(f'{number}개를 입력했습니다.')
print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
주의: "End"를 입력하면 종료합니다.
3개를 입력했습니다.
최댓값은 3입니다.

In [16]:
import random

print('난수의 최댓값을 구합니다.')
num = int(input('난수의 개수를 입력하세요.: '))
lo = int(input('난수의 최솟값을 입력하세요.: '))
hi = int(input('난수의 최댓값을 입력하세요.: '))
x = [None] * num        # 원소 수 num인 리스트를 생성

for i in range(num):
    x[i] = random.randint(lo, hi)

print(f'{(x)}')
print(f'이 가운데 최댓값은 {max_of(x)}입니다.')

난수의 최댓값을 구합니다.
[16, 40, 40, 26, 13]
이 가운데 최댓값은 40입니다.

In [17]:
from typing import Any, MutableSequence

def reverse_array(a: MutableSequence) -> None:
    """뮤터블 시퀀스형 a의 원소를 역순으로 정렬"""
    n = len(a)
    for i in range(n // 2):
         a[i], a[n - i - 1] = a[n - i - 1], a[i]

In [18]:
print('배열 원소를 역순으로 정렬합니다.')
nx = int(input('원소 수를 입력하세요.: '))
x = [None] * nx   # 원소 수가 nx인 리스트를 생성

for i in range(nx):
    x[i] = int(input(f'x[{i}] : '))

reverse_array(x)  # x를 역순으로 정렬

print('배열 원소를 역순으로 정렬했습니다.')
for i in range(nx):
    print(f'x[{i}] = {x[i]}')

배열 원소를 역순으로 정렬합니다.
배열 원소를 역순으로 정렬했습니다.
x[0] = 5
x[1] = 4
x[2] = 3
x[3] = 2
x[4] = 1

In [19]:
counter = 0  # 나눗셈 횟수

for n in range(2, 1001):
    for i in range(2, n):
        counter += 1
        if n % i == 0 :     # 나누어 떨어지면 소수가 아님
            break           # 반복은 더 이상 불필요하여 중단
    else:                   # 끝까지 나누어 떨어지지 않으면 다음을 수행
        print(n)
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 78022

In [20]:
counter = 0           # 나눗셈 횟수
ptr = 0               # 이미 찾은 소수의 개수
prime = [None] * 500  # 소수를 저장하는 배열

prime[ptr] = 2        # 2는 소수이므로 초깃값으로 지정
ptr += 1

for n in range(3, 1001, 2):  # 홀수만을 대상으로 설정
    for i in range(1, ptr):  # 이미 찾은 소수로 나눔
        counter += 1
        if n % prime[i] == 0:  # 나누어 떨어지면 소수가 아님
            break              # 반복 중단
    else:                      # 끝까지 나누어 떨어지지 않았다면
        prime[ptr] = n         # 소수로 배열에 등록
        ptr += 1

for i in range(ptr):  # ptr의 소수를 출력
    print(prime[i])
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 14622